.section{
    min-height: 100vh;
    @include padding;
    overflow: hidden;

    .section-header{
        margin: 0 auto;
        text-align: center;
        margin-bottom: $padding * 2;

        h2{
            text-transform: uppercase;
        }
        
        p{
            margin-top: 10px;
            width: 50%;
            margin: 0 auto;
        }
    }

    &.section-f{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &.section-i{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &.section-e{
        display: flex;
        flex-direction: row;

        &>*{
            flex-grow: 1;
            flex-basis: 0;
        }
    }

    &.container, .container{
        max-width: 100%;
        width: 1331px;
        margin: 0 auto;
    }
}