.caroussel {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 100px;
    right: $padding;
    background-color: rgba(0, 0, 0, .8);
    padding: $padding;
    display: flex;
    align-items: center;
    user-select: none;

    .btn {
        position: absolute;
        height: $padding * 3;
        width: $padding * 3;
        transition: all .25s;
        font-size: 20px;
        bottom: 0;

        

        &.btn-previous, &.btn-next {
            animation: slideFromBottom 1s;
        }
        
        &.btn-previous {
            left: $padding * 3;

            &:hover { padding-right: $padding; }
        }

        &.btn-next {
            right: 0;

            &:hover { padding-left: $padding; }
        }

        &>i {
            margin: 0;
        }
    }

    img{
        height: 100%;
        transition: all .25s;
        margin: 0 auto;
    }
}