.thumbnail{
    background-color: rgb(39, 149, 156);
    position: relative;
    overflow: visible;
    margin-left: 100px;

    &>*{
        position: absolute;
        left: -100px;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100% - 200px);
        width: 100%;
        object-fit: cover;
    }
}