.timeline{
    display: flex;
    flex-direction: column;
    text-align: left;

    .timeline-event{
        border: 1px solid #fff;
        overflow: hidden;

        &:not([disabled]){
            h4{
                cursor: pointer;

            }
        }

        h4{
            background-color: #fff;
            color: #000;
            height: 40px;
            line-height: 40px;
            padding-left: $padding / 2;
            margin-bottom: 0;

            small{
                float: right;
                height: 40px;
                background-color: #000;
                color: #fff;
                width: 150px;
                text-align: center;
            }
        }

        p{
            max-height: 0;            
            transition: all .15s;
        }

        &.is-open{
            p{
                max-height: 500px;
                padding: $padding / 2;
            }

            small{
                height: 39px;
            }
        }

        &:not(:last-child){
            margin-bottom: $padding;
        }
    }
}