.projects-slider {
    display: flex;
    position: relative;

    &>.ion {
        position: absolute;
        bottom: 60px + $padding;
        font-size: 22px;
        transition: all .2s;
        z-index: 1;
        cursor: pointer;

        &:hover {
            padding-bottom: 10px;
        }

        &.ion-md-arrow-round-back {
            left: 64px;
        }

        &.ion-md-arrow-round-forward {
            right: 64px;
        }
    }
}

.projects{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    transition: right .25s ease;
    
    .project-seemore{
        position: absolute;
        left: 64px;
        bottom: 0;
        padding: ($padding *2) ($padding * 3);
        background-color: #fff;
        color: #000;
    }

    .project-item{
        flex: 1;
        min-width: calc(100% / 4);

        h3 {
            height: 108px; 
        }

        .project-item-links {
            display: flex;
            flex-direction: column;

            &>a{
                font-size: 13px; 
                position: relative; 
                align-self: flex-start;
                
                &:not(:last-child) {
                    margin-bottom: 40px;
                }

                &:hover{
                    &:after{
                        width: 150%;
                    }
                }
    
                &:after{
                    content: ''; 
                    position: absolute; 
                    display: block;
                    height: 1px; 
                    width: 0%; 
                    bottom: -10px;
                    background-color: #fff;
                    transition: .75s;
                }
    
                &>i{margin-left: 16px;}
            }
        }
        
        .project-item-more {
            display: flex;
            position: absolute;
            bottom: 64px;
            
            &>.ion{
                font-size: 20px;
                transition: all .25s;

                &:not(:last-child){
                    margin-right: $padding / 2;
                }

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

.sio {

    .sio-options-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .sio-item{
            width: 48%;
            height: 100%;

            .sio-item-opportunities{
                margin-top: 40px;
            }
        }
    }
}